@charset "UTF-8";

[canvas=container],
[off-canvas] {
    padding: 10px 20px;
}

[class*=js-] {
    cursor: pointer;
}


nav[canvas] {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: left;
}

#sample-01 {
	padding-top: 5px;
	padding-left: 20px;
}

#sample-button {
	display: inline;
	border: 1px solid #666;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 1px 10px;
	background-color: #fff;
}

