.c {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.skillTable {
  margin-bottom: 50px;
}

.box {
  background-color: #F6F6F6;
  border: 1px solid #000080;
  width :110px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
}

.box:hover {
  background-color: #A4B4F9;
  cursor: pointer;
}

.useSPs {
  display: flex;
  justify-content: center;
}

#totalLv {
  margin-right: 10px;
}

#remainSP {
  margin-right: 10px;
}

.skill  {
  position: relative;
}

.skill:hover {
  cursor: pointer;
}
/* スキル説明*/

.skillDesc {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 250px;
  border: 2px solid #000080;
  border-radius: 8px;
  background-color: #CED6F8;
  padding: 8px;
}

.skillDesc hr {
  height: 1px;
  background: linear-gradient(to right, #000080, #CED6F8);
  border: none;
}

.skill:hover .skillDesc {
  display: block;
  z-index: 10;
}

.skillDescB {
  display: none;
  position: absolute;
  top: -160px;
  left: 50px;
  width: 250px;
  border: 2px solid #000080;
  border-radius: 8px;
  background-color: #CED6F8;
  padding: 8px;
}

.skillDescB hr {
  height: 1px;
  background: linear-gradient(to right, #000080, #CED6F8);
  border: none;
}

.skill:hover .skillDescB {
  display: block;
  z-index: 10;
}


.up {
  color: #000080;
}

.down {
  color: red;
}

/* slider*/
.sb-left {
  padding: 0 20px; 
}

.sb-right {
  padding: 0 20px;
}

.btn {
  color: #ffffff;
}

.btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

 hr {
  height: 1px;
  background: linear-gradient(to right, #222,#fff,#222);
  border: none;
}

a {
  color: #ffffff;
}

#saveDataNum {
  background-color: #ffffff;
}

.statas {
  display: inline-block;
}

.lvNumber {
  margin-left: 5px;
  width: 15px;
}